---
import Logo from '../assets/logo.svg';
import { Routes } from '../lib';
---

<header class="container flex justify-between items-center py-4">
	<a href={Routes.HOME}>
		<Logo fill="currentColor"/>
	</a>
	<nav>
		<ul class="flex items-center gap-4">
			<li>
				<a href={Routes.ABOUT}>About me</a>
			</li>
			<li>
				<a href={Routes.BLOGS}>Blogs</a>
			</li>
			<li>
				<a href={Routes.PROJECTS}>Projects</a>
			</li>
			<li>
				<a href={Routes.CONTACT}>Contact</a>
			</li>
		</ul>
	</nav>
</header>

