---
import Logo from '../assets/logo.svg';
import { Routes } from '../lib';
import HeaderSidebar from './HeaderSidebar.astro';
---

<header class="app-header container flex justify-between items-center py-4">
	<a
		class="app-logo"
		href={Routes.HOME}
	>
		<Logo fill="currentColor" />
	</a>
	<nav class="app-nav hidden lg:block">
		<ul class="app-nav-list flex items-center gap-4">
			<li>
				<a
					class="app-nav-link"
					href={Routes.ABOUT}
					>About me</a
				>
			</li>
			<li>
				<a
					class="app-nav-link"
					href={Routes.BLOGS}
					>Blogs</a
				>
			</li>
			<li>
				<a
					class="app-nav-link"
					href={Routes.PROJECTS}
					>Projects</a
				>
			</li>
			<li>
				<a href={Routes.CONTACT}>Contact</a>
			</li>
		</ul>
	</nav>
	<HeaderSidebar />
</header>
