---
import { Routes } from "../lib";
import { RxHamburgerMenu } from "react-icons/rx";
import { IoClose } from "react-icons/io5";
---

<button id="open-sidebar" aria-label="Open sidebar" class="lg:hidden">
    <RxHamburgerMenu size={24} />
</button>
<aside id="sidebar" class="fixed top-0 -right-[12rem] min-h-screen w-full bg-background z-50 lg:hidden transition-all max-w-[12rem] flex flex-col p-4 gap-4 border-l border-border">
    <button id="close-sidebar" class="ml-auto" aria-label="Close sidebar">
        <IoClose size={24} />
    </button>
    <nav>
        <ul class="flex flex-col gap-4">
            <li>
                <a href={Routes.HOME}>Home</a>
            </li>
            <li>
                <a href={Routes.ABOUT}>About</a>
            </li>
            <li>
                <a href={Routes.BLOGS}>Blogs</a>
            </li>
            <li>
                <a href={Routes.PROJECTS}>Projects</a>
            </li>
            <li>
                <a href={Routes.CONTACT}>Contact</a>
            </li>
        </ul>
    </nav>
</aside>

<script>
    const openSidebarBtn = document.getElementById('open-sidebar');
    const closeSidebarBtn = document.getElementById('close-sidebar');
    const sidebar = document.getElementById('sidebar');

    openSidebarBtn?.addEventListener('click', () => {
        sidebar?.classList.remove('-right-[12rem]');
        sidebar?.classList.add('right-0');
    });

    closeSidebarBtn?.addEventListener('click', () => {
        sidebar?.classList.remove('right-0');
        sidebar?.classList.add('-right-[12rem]');
    });
</script>